<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII=" alt=""> <span class="ml-10">客商维护</span>
    <span class="c-gray en">&gt;</span> 供应商管理
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<div class="pd-20">
        <div class="div_02">
            <div>
                供应商代码 :<span class="blank_across_10"></span>
                <input #comId class="input-text" style="width:175px;" [(ngModel)]="supplierQueryParams.comId">
                <span class="blank_across_small"></span>
                供应商名称 :<span class="blank_across_10"></span>
                <input #companyName class="input-text" style="width:175px;" [(ngModel)]="supplierQueryParams.companyName">
                <span class="blank_across_small"></span>
                供应商简称 :<span class="blank_across_10"></span><input #shortName class="input-text" style="width:175px;" [(ngModel)]="supplierQueryParams.shortName">
                <span class="blank_across_small"></span>
                手机号码 :<span class="blank_across_10"></span>
                <div class="telDiv">
                    <input #mobile="ngModel" pattern="^[0-9]*$" class="input-text" style="width:175px;" [(ngModel)]="supplierQueryParams.mobile"> 
                    <span class="telWarn" [hidden]="mobile.valid || mobile.pristine">手机号码格式错误</span>  
                </div>                            
            </div>
            <span class="blank_vertical"></span>
            <div>
                <span class="blank_across_small" style="margin-left:14px;"></span>
                状态 :<span class="blank_across_10"></span>
                <select #isValid class="select input-text" style="width:175px;" [(ngModel)]="supplierQueryParams.isValid">
                  <option value="">全部</option>
                  <option value="0">有效</option>
                  <option value="1">无效</option>
				</select>
                <span class="blank_across"></span>
                <span class="blank_across_small"></span>
                <span class="blank_across_big"></span>
                <button class="btn btn-success" id="search" name="" style="width:100px;height:35px;" (click)="search('1');cur=1;">查询</button>
                    <span class="blank_across_10"></span>
                    <span class="blank_across_10"></span>               
                <button class="btn btn-success" name="" style="width:100px;height:35px;" routerLink="/supplier-detail">新增</button> 
            </div> 
        </div>
    
        <div class="mt-20">
            <div id="table-sort_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-border table-bordered table-hover table-bg" style="width: 100%;">
                    <thead>
                        <tr class="text-c" role="row">
                            <th class="sorting_disabled" style="width: 120px;">供应商代码</th>
                            <th class="sorting_disabled" style="width: 200px;">供应商名称</th>
                            <th class="sorting_disabled" style="width: 120px;">供应商简称</th>
                            <th class="sorting_disabled" style="width: 200px;">税号</th>
                            <th class="sorting_disabled" style="width: 120px;">联系人</th>
                            <th class="sorting_disabled" style="width: 200px;">手机号码</th>
                            <th class="sorting_disabled" style="width: 150px;">业务类型</th>
                            <th class="sorting_disabled" style="width: 120px;">状态</th>
                            <th class="sorting_disabled" style="width: 120px;">操作</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="suppliers">
                        <tr [hidden]="supplier.deleteFlag !== 0" role="row" class="odd text-c" *ngFor="let supplier of suppliers">
                            <td><a [routerLink]="['/supplier-detail-show', supplier.comId]">{{supplier.comId}}</a></td>
                            <td>{{supplier.companyName}}</td>
                            <td>{{supplier.shortName}}</td>
                            <td>{{supplier.taxRegNo}}</td>
                            <td>{{supplier.linkman}}</td>
                            <td>{{supplier.mobile}}</td>
                            <td>{{supplier.bcIsBuyStoreage | buyStrength}} {{supplier.bcIsSellTransport | sellStrength}} {{supplier.bcIsOperatorMachining | operatorStrength}}</td>
                            <td>{{supplier.isValid | statusStrength}}</td>
                            <td>
                              <a [routerLink]="['/supplier-detail', supplier.comId]">编辑</a>
                              <a style="margin-left: 10px;" (click)="delete(supplier.comId);">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="dataTables_info" id="table-sort_info" role="status" aria-live="polite">显示 {{initNum}} 到 {{pages}} ，共 {{totalCount}} 条</div>
                <div [hidden]="tabShow" class="dataTables_paginate paging_full_numbers" id="table-sort_paginate">
                    <a (click)="btnClick(1);" class="paginate_button first disabled" aria-controls="table-sort" data-dt-idx="0" tabindex="0" id="table-sort_first">第一页</a>
                    <a (click)="btnClick(cur-1);" class="paginate_button previous disabled" aria-controls="table-sort" data-dt-idx="1" tabindex="0" id="table-sort_previous">上一页</a>
                    <a [hidden]="!prevShow" (click)="firstPage(cur)" class="paginate_button_spec" aria-controls="table-sort" data-dt-idx="2" tabindex="0">1</a>
                    <span [hidden]="!prevShow">...</span>
                    <span *ngFor="let item of items">
                        <a (click)="btnClick(item);" [ngClass]="setClasses(item)" aria-controls="table-sort" data-dt-idx="2" tabindex="0">{{item}}</a>
                    </span>
                    <span [hidden]="!nextShow">...</span>
                    <a [hidden]="!nextShow" (click)="lastPage(cur)" class="paginate_button_spec" aria-controls="table-sort" data-dt-idx="2" tabindex="0">{{pages}}</a>
                    <a (click)="btnClick(cur+1);" class="paginate_button next" aria-controls="table-sort" data-dt-idx="7" tabindex="0" id="table-sort_next">下一页</a>
                    <a (click)="btnClick(pages);" class="paginate_button last" aria-controls="table-sort" data-dt-idx="8" tabindex="0" id="table-sort_last">最后一页</a>
                </div>
            </div>
        </div>
</div>