<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII="
        alt=""> <span class="ml-10">客商维护</span>
    <span class="c-gray en">&gt;</span> 供应商管理
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<form name="name" (ngSubmit)="onSubmit(model)" class="layout" #supplierForm="ngForm">
    <h4>基本信息</h4>
    <span class="hang">
            <label class="mark" for="companyName">供应商名称</label>：
            <input class="inp must-ipt" type="text" id="companyName" required [(ngModel)]="model.companyName" name="companyName" #companyName="ngModel">
            
            <label class="mark" for="supplierEasy">供应商简称</label>：
            <input class="inp must-ipt" type="text" id="supplierEasy" required [(ngModel)]="model.shortName" name="shortName" #shortName="ngModel">
        </span>
    <div class="warn">
        <div [hidden]="companyName.valid || companyName.pristine" class="nameC">
            供应商名称必填
        </div>
        <div [hidden]="shortName.valid || shortName.pristine" class="nameE">
            供应商简称必填
        </div>
    </div>

    <span class="hang">
            <span class="mark">税务登记号</span>： <input class="inp" type="text" [(ngModel)]="model.taxRegNo" name="swdjh">
    <span class="mark">法人</span>： <input class="inp" type="text" [(ngModel)]="model.legalPerson" name="fman">
    </span>
    <span class="hang">
            <span class="mark">公司联系人</span>： <input class="inp" type="text" [(ngModel)]="model.linkman" name="companyMan">
    <span class="mark">手机号码</span>： <input class="inp" type="text" [(ngModel)]="model.mobile" name="phone">
    </span>
    <span class="hang">
            <span class="mark">邮箱</span>： <input class="inp" type="text" [(ngModel)]="model.email" name="email">
    <span class="mark">地址</span>： <input class="inp" type="text" [(ngModel)]="model.address" name="address">
    </span>
    <span class="hang hangMax">
            <span class="mark">公司联系电话</span>： <input class="inp" type="text" [(ngModel)]="model.phoneNumber" name="companyTell">
    <span class="mark">公司传真</span>： <input class="inp" type="text" [(ngModel)]="model.faxNumber" name="companyCz">
    </span>
    <span class="hang">
            <span class="mark">业务范围</span>：
    <span class="provid">
                <label for="cangchu"><input id="cangchu" name="bcIsBuyStoreage" type="checkbox" [(ngModel)]="model.ngbcIsBuyStoreage"> 提供仓储服务</label>
                <label for="yunshu"><input id="yunshu" name="bcIsSellTransport" type="checkbox" [(ngModel)]="model.ngbcIsSellTransport"> 提供运输服务</label>
                <label for="jiagong"><input id="jiagong" name="bcIsOperatorMachining" type="checkbox" [(ngModel)]="model.ngbcIsOperatorMachining"> 提供加工服务</label>
            </span>

    <span class="mark">状态</span>：
    <select [(ngModel)]="model.isValid" name="state">
                <option value="0">有效</option>
                <option value="1">无效</option>
            </select>
    </span>
    <h4>辅助信息</h4>
    <span class="hang">
        <span class="mark">开户行</span>： <input class="inp" type="text" [(ngModel)]="model.bankName" name="khh">
    <span class="mark">开户账号</span>： <input class="inp" type="text" [(ngModel)]="model.bankNo" name="khzh">
    </span>
    <span class="hang">
        <span class="mark">开户时间</span>： <input class="inp" type="text" [(ngModel)]="model.bankNoCreatedate" name="khTime">
    </span>
    <h4>这里上传文件区域</h4>
    <div class="fileC">
        <div class="up">
            <div class="up-left">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input,0)" #input/>营业执照注册号附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs;" class="imgC">
                    <img id="src" [attr.src]='file_src' alt="" />
                </div>
            </div>
            <div class="up-right">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input1,1)" #input1 />组织机构代码证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs1;" class="imgC">
                    <img id="src1" [attr.src]='file_src' alt="" />
                </div>
            </div>
        </div>
        <div class="up">
            <div class="up-left">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input2,2)" #input2 />税务登记证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs2;" class="imgC">
                    <img id="src" [attr.src]='file_src' alt="" />
                </div>
            </div>
            <div class="up-right">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input3,3)" #input3 />统一社会信用代码证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs3;" class="imgC">
                    <img id="src1" [attr.src]='file_src' alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="hang">
        <div style="overflow: hidden;" class="left note">
<div style="float: left;"><label for="khname">备注</label></div>：
<textarea style="float: right;margin-left: 4px;" class="input-text" id="" cols="30" rows="10" [(ngModel)]="model.memo" name="memo"></textarea>
</div>
</div>
<div class="save">
    <button class="btn" type="submit" style="width:100px; height:32px; margin:0 0 100px 106px; ">保存</button>
</div>

</form>