<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII=" alt=""> <span class="ml-10">业务规则</span>
    <span class="c-gray en">&gt;</span> 业务等级规则明细
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<div class="pd-20">
    <form name="form" class="div_02" (ngSubmit)="onSubmit(model)" #gradeFrom="ngForm">
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">用户等级：</label>
                <select class="inp must-ipt" [(ngModel)]="model.userGrade" name="userGrade" #userGrade="ngModel" required>
                  <option value="">请选择</option>
                  <option value="01">一般经纪人</option>
                  <option value="02">铜牌经纪人</option>
                  <option value="03">银牌经纪人</option>
                  <option value="04">金牌经纪人</option>
				</select>
            </div>
            <div class="pct-30 pct-ml-5">
                <label class="mark" for="">平台：</label>
                <select class="inp must-ipt" [(ngModel)]="model.ptId" name="ptId" #ptId="ngModel" required>
                  <option value="G00000">钢源城</option>
				</select>
            </div>  
            <div class="pct-30 pct-ml-5">
                <label class="mark" for="">状态：</label>
                <!--<div [hidden]="hidden" class="sdiv">
                    <select class="inp must-ipt" [(ngModel)]="model.status" name="status" #status="ngModel" required>
                        <option value="">请选择</option>
                        <option value="01">有效</option>
                        <option value="02">无效</option>
                    </select>
                </div>-->
                <div class="sdiv">
                    <select class="inp-dis" [(ngModel)]="model.status" name="status" #status="ngModel" required disabled>
                        <option value="01">有效</option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="warn" *ngIf="userGrade.errors && (userGrade.dirty) || ptId.errors && (ptId.dirty) || status.errors && (status.dirty)">
            <div [hidden]="userGrade.valid || userGrade.pristine" class="pct-22-5 warn-block">
                用户等级必填
            </div>
            <div [hidden]="ptId.valid || ptId.pristine" class="pct-22-5 warn-block">
                平台必填
            </div>
            <div [hidden]="status.valid || status.pristine" class="pct-22-5 warn-block">
                状态必填
            </div>
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">用户类型：</label>
                <select class="inp must-ipt" [(ngModel)]="model.userType" name="userType" #userType="ngModel" required>
                  <option value="">请选择</option>
                  <option value="01">经纪人</option>
                  <option value="02">买方</option>
                  <option value="03">卖方</option>
				</select>
            </div>  
            <div class="pct-30 pct-ml-5">
                <label class="mark" for="">等级描述：</label>
                <input class="inp" [(ngModel)]="model.gradeDescribe" name="gradeDescribe" #gradeDescribe="ngModel" required>
            </div>
            <div class="pct-30 pct-ml-5">
                <label class="mark" for="">等级值：</label>
                <input class="inp must-ipt" [(ngModel)]="model.gradeVal" name="gradeVal" #gradeVal="ngModel" required>
            </div>
        </div>
        <div class="warn" *ngIf="userType.errors && (userType.dirty) || gradeDescribe.errors && (gradeDescribe.dirty) || gradeVal.errors && (gradeVal.dirty)">
            <div [hidden]="userType.valid || userType.pristine" class="pct-22-5 warn-block">
                用户类型必填
            </div>
            <div [hidden]="gradeDescribe.valid || gradeDescribe.pristine" class="pct-22-5 warn-block">
                等级描述必填
            </div>
            <div [hidden]="gradeVal.valid || gradeVal.pristine" class="pct-22-5 warn-block">
                等级值必填
            </div>
        </div>
        <div class="hang">
            <label class="mark pct-7-5" for="">备注：</label>
            <input class="inp pct-92-5 inp-note" [(ngModel)]="model.remark" name="remark" #remark="ngModel">
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">辅助1：</label>
                <input class="inp" [(ngModel)]="model.ext1" name="ext1" #ext1="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">辅助1描述：</label>
                <input class="inp inp-82" [(ngModel)]="model.ext1Desc" name="ext1Desc" #ext1Desc="ngModel">
            </div>  
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">辅助2：</label>
                <input class="inp" [(ngModel)]="model.ext2" name="ext2" #ext2="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">辅助2描述：</label>
                <input class="inp inp-82" [(ngModel)]="model.ext2Desc" name="ext2Desc" #ext2Desc="ngModel">
            </div>  
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">辅助3：</label>
                <input class="inp" [(ngModel)]="model.ext3" name="ext3" #ext3="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">辅助3描述：</label>
                <input class="inp inp-82" [(ngModel)]="model.ext3Desc" name="ext3Desc" #ext3Desc="ngModel">
            </div>  
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">辅助4：</label>
                <input class="inp" [(ngModel)]="model.ext4" name="ext4" #ext4="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">辅助4描述：</label>
                <input class="inp inp-82" [(ngModel)]="model.ext4Desc" name="ext4Desc" #ext4Desc="ngModel">
            </div>  
        </div>
        <div class="hang">
            <div class="pct-30">
                <label class="mark" for="">辅助5：</label>
                <input class="inp" [(ngModel)]="model.ext5" name="ext5" #ext5="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">辅助5描述：</label>
                <input class="inp inp-82" [(ngModel)]="model.ext5Desc" name="ext5Desc" #ext5Desc="ngModel">
            </div>  
        </div>
        <!--<div class="hang">
            <div class="pct-30">
                <label class="mark" for="">创建人：</label>
                <input class="inp" [(ngModel)]="model.creator" name="creator" #creator="ngModel">
            </div>
            <div class="pct-70">
                <label class="mark mark-18" for="">创建时间：</label>
                <my-date-picker id="mydp" class="pct-32" placeholder="年/月/日" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="model.createTime" name="createTime" #createTime="ngModel"></my-date-picker>

            </div>  
        </div>-->
        <div class="btn_middle">
            <button class="btn btn-success" type="submit" name="" style="width:100px;height:35px;">保存</button>
            <button class="btn btn-success" type="button" style="width:100px;height:35px; margin-left: 20px;" routerLink="/grade-list" >返回</button>
        </div>
    </form>
</div>