<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII=" alt=""> <span class="ml-10">客商维护</span>
    <span class="c-gray en">&gt;</span> 客户管理
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px"  title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<form name="form" (ngSubmit)="onSubmit(list)" class="layout" #customerFrom="ngForm">
    <h4>基本信息</h4>
    <div class="hang">
        <div>
            <label class="mark" for="khname">客户名称：</label><input class="inp must-ipt" type="text" id="khname"  required  [(ngModel)]="list.companyName" name="name" #khname="ngModel">
        </div>
        <div>
            <label class="mark" for="khjc">客户简称：</label><input class="inp must-ipt" type="text" id="khjc" required [(ngModel)]="list.shortName" name="khjc" #khjc="ngModel">
        </div>  
    </div>
    <div class="warn">
        <div [hidden]="khname.valid || khname.pristine" class="nameC">
            客户名称必填
        </div>
        <div [hidden]="khjc.valid || khjc.pristine" class="nameE">
            客户简称必填
        </div>
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="swdjh">税务登记号：</label><input class="inp" type="text" id="swdjh"    [(ngModel)]="list.taxRegNo" name="swdjh" #swdjh="ngModel">
        </div>
        <div>
            <label class="mark" for="faren">法人：</label><input class="inp" type="text" id="faren"  [(ngModel)]="list.legalPerson" name="faren" #faren="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="companyMan">公司联系人：</label><input class="inp" type="text" id="companyMan"    [(ngModel)]="list.linkman" name="companyMan" #companyMan="ngModel">
        </div>
        <div>
            <label class="mark" for="phone">手机号码：</label><input class="inp" type="text" id="phone"  [(ngModel)]="list.mobile" name="phone" #phone="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="email">邮箱：</label><input class="inp" type="text" id="email"    [(ngModel)]="list.email" name="email" #email="ngModel">
        </div>
        <div>
            <label class="mark" for="address">地址：</label><input class="inp" type="text" id="address"  [(ngModel)]="list.address" name="address" #address="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="companyTell">公司联系电话：</label><input class="inp" type="text" id="companyTell"    [(ngModel)]="list.phoneNumber" name="companyTell" #companyTell="ngModel">
        </div>
        <div>
            <label class="mark" for="companyCz">公司传真：</label><input class="inp" type="text" id="companyCz"  [(ngModel)]="list.faxNumber" name="companyCz" #companyCz="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div style="width:530px;">
            <span class="mark" for="companyTell">业务范围：</span>
            <input name="bcIsBuyStoreage" [(ngModel)]="list.bcIsBuyStoreage1" id="buy" type="checkbox">
            <label for="buy">买家</label>
            <input name="bcIsSellTransport" [(ngModel)]="list.bcIsSellTransport1" id="sell" type="checkbox">
            <label for="sell">卖家</label>
            <input name="bcIsOperatorMachining" [(ngModel)]="list.bcIsOperatorMachining1" id="yunying" type="checkbox">
            <label for="yunying">运营方</label>
        </div>
        <div>
            <span class="mark" for="companyCz">状态：</span>
            <select [(ngModel)]="list.isValid" name="state">
                <option value="0">有效</option>
                <option value="1">无效</option>
            </select>
        </div>  
    </div>
    <h4>辅助信息</h4>
    <div class="hang">
        <div>
            <label class="mark" for="khh">开户行：</label><input class="inp" type="text" id="khh"    [(ngModel)]="list.bankName" name="khh" #khh="ngModel">
        </div>
        <div>
            <label class="mark" for="khzh">开户行账号：</label><input class="inp" type="text" id="khzh"  [(ngModel)]="list.bankNo" name="khzh" #khzh="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="kpphone">开票电话：</label><input class="inp" type="text" id="kpphone"    [(ngModel)]="list.invoicePhone" name="kpphone" #kpphone="ngModel">
        </div>
        <div>
            <label class="mark" for="kpaddress">开票地址：</label><input class="inp" type="text" id="kpaddress"  [(ngModel)]="list.invoiceAddress" name="kpaddress" #kpaddress="ngModel">
        </div>  
    </div>
    <div class="hang">
        <div>
            <label class="mark" for="khTime">开户时间：</label><input class="inp" type="text" id="khTime"    [(ngModel)]="list.bankNoCreatedate" name="khTime" #khTime="ngModel">
        </div> 
    </div>
    <h4>这里上传文件区域</h4>
    <div class="fileC">
        <div class="up">
            <div class="up-left">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input,0)" #input />营业执照注册号附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs;" class="imgC">
                    <img id="src" [attr.src]='file_src' alt="" />
                </div>
            </div>
            <div class="up-right">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input1,1)" #input1 />组织机构代码证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs1;" class="imgC">
                    <img id="src1" [attr.src]='file_src' alt="" />
                </div>
            </div>
        </div>
        <div class="up">
            <div class="up-left">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input2,2)" #input2 />税务登记证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs2;" class="imgC">
                    <img id="src" [attr.src]='file_src' alt="" />
                </div>
            </div>
            <div class="up-right">
                <div>
                    <a href="javascript:;" class="file">
                        <input type="file" multiple (change)="fileChange(input3,3)" #input3 />统一社会信用代码证附件
                    </a>
                </div>
                <div *ngFor="let file_src of file_srcs3;" class="imgC">
                    <img id="src1" [attr.src]='file_src' alt="这里上传文件" />
                </div>
            </div>
        </div>
    </div>
    <div class="hang">
        <div style="overflow: hidden;" class="left note">
            <div style="float: left;"><label for="khname">备注</label></div>：
            <textarea style="float: right;margin-left: 4px;" class="input-text" id="" cols="30" rows="10" [(ngModel)]="list.memo" name="memo"></textarea>
        </div>
    </div>
    <div class="save">
        <button class="btn" type="submit" style="width:100px; height:32px; margin:0 0 100px 106px;">保存</button>
    </div>

</form>