<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII=" alt=""> <span class="ml-10">经纪人激励规则</span>
    <span class="c-gray en">&gt;</span> 经纪人激励主信息
</nav>
<div class="pd-20">
        <div class="div_02">
            <div>
                <span class="mark">规则编号</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <input #incentiveNo class="input-text" style="width:175px;" [(ngModel)]="rewardMain.incentiveNo" disabled>
                <span class="mark">平台</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                    <select #ptId class="select input-text" style="width:175px;" [(ngModel)]="rewardMain.ptId" [disabled]="rewardMain.status !== '10'">
                        <option value="">请选择</option>
                        <option value="G00000">钢源城</option>
                        <option value="1">大智运</option>
                    </select>
                <span class="blank_across_small"></span> 
                 <span class="mark">状态</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <select #status class="select input-text" style="width:175px;" [(ngModel)]="rewardMain.status" disabled>
                    <option value="">请选择</option>
                    <option value="00">无效</option>
                    <option value="10">待确认</option>
                    <option value="20">已确认</option>
                    <option value="99">归档</option>
				</select>             
            </div>

            <div class="hang">
                <div style="overflow: hidden;" class="left note">
                    <div style="float: left;">规则描述</div><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                    <textarea #ruleDesc [disabled]="rewardMain.status !== '10'" style="float: right;margin-left: 4px;" class="input-text" id="" cols="30" rows="10" [(ngModel)]="rewardMain.ruleDesc"></textarea>
                </div>
            </div>

            <div style="margin-top:20px">
                <span class="mark">规则有效期</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <div style="position: relative; top:13px; display: inline-block;">
                    <my-date-picker [options]="myDatePickerOptions"
                        (dateChanged)="onDateChanged1($event)" [(ngModel)]="date1"></my-date-picker>
                </div>
                --
                <div style="position: relative; top:13px; display: inline-block;">
                    <my-date-picker [options]="myDatePickerOptions"
                        (dateChanged)="onDateChanged2($event)" [(ngModel)]="date2"></my-date-picker>
                </div>
                <span class="mark" style="width: 291px">确认人</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <input #confirmUserName class="input-text" style="width:185px;" disabled [(ngModel)]="rewardMain.confirmUserName">            
            </div>

            <div style="margin-top:20px">
                <span class="mark">创建人</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <input #createUserName class="input-text" style="width:185px;" disabled [(ngModel)]="rewardMain.createUserName">
                
                <span class="mark" style="width: 497px">创建时间</span><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                <input #createTime class="input-text" style="width:185px;" disabled [(ngModel)]="rewardMain.createTime">           
            </div>

            <div class="hang">
                <div style="overflow: hidden;" class="left note">
                    <div style="float: left;">备注</div><span class="blank_across_10"></span>:<span class="blank_across_10"></span>
                    <textarea [disabled]="rewardMain.status !== '10'" #remark style="float: right;margin-left: 4px;" class="input-text" id="" cols="30" rows="10" [(ngModel)]="rewardMain.remark"></textarea>
                </div>
            </div>

            <div style="text-align: center;margin-top: 20px;">
                <button [disabled]="rewardMain.status !== '10'" class="btn btn-success" style="width:100px;height:35px;" (click)="addOne()">新增明细</button>           
                <button [disabled]="rewardMain.status !== '10'" class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" (click)="delete()">删除明细</button>
                <button [disabled]="rewardMain.status !== '10'" class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" (click)="copy()">复制明细</button>           
                <button [disabled]="rewardMain.status !== '10'" class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" (click)="confirm('true')">确认</button> 
                <button [disabled]="rewardMain.status !== '20'" class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" (click)="confirm('false')">取消确认</button>           
                <button [disabled]="rewardMain.status !== '10'" class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" (click)="save()">保存</button>
                <button class="btn btn-success" style="width:100px;height:35px;margin-left: 45px" routerLink="/reward-rule">返回</button>  
            </div> 
        </div>
        <span class="blank_vertical"></span>
        <div class="mt-20" style="margin-top: 20px;">
            <div id="table-sort_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-border table-bordered table-hover table-bg" style="width: 100%;">
                    <thead>
                        <tr class="text-c" role="row">
                            <th style="width: 10px;"></th>
                            <th style="width: 80px;">经纪人类型</th>
                            <th style="width: 70px;">业务类型</th>
                            <th style="width: 50px;">结算周期</th>
                            <th style="width: 50px;">计量类型</th>
                            <th style="width: 30px;">计量值</th>
                            <th style="width: 60px;">激励值类型</th>
                            <th style="width: 30px;">激励值</th>
                            <th style="width: 30px;">辅助1</th>
                            <th style="width: 30px;">辅助1描述</th>
                            <th style="width: 30px;">辅助2</th>
                            <th style="width: 30px;">辅助2描述</th>
                            <th style="width: 30px;">辅助3</th>
                            <th style="width: 30px;">辅助3描述</th>
                            <th style="width: 30px;">辅助4</th>
                            <th style="width: 30px;">辅助4描述</th>
                            <th style="width: 30px;">辅助5</th>
                            <th style="width: 30px;">辅助5描述</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="addRewardLists">
                        <tr role="row" class="odd text-c" *ngFor="let addItem of addRewardLists;let i=index">
                            <td><input type="checkbox" value={{i}} name="dx"></td>
                            <td>
                                <select #brokerType class="select" style="width:90%;" [(ngModel)]="addItem.brokerType">
                                    <option value="99">全部</option>
                                    <option value="0">金牌经纪人</option>
                                    <option value="1">银牌经纪人</option>
                                    <option value="2">铜牌经纪人</option>
                                    <option value="3">一般经纪人</option>
                                </select>
                            </td>
                            <td>
                                <select #businessType class="select" style="width:90%;" [(ngModel)]="addItem.businessType">
                                    <option value="0">自营</option>
                                    <option value="1">寄售</option>
                                    <option value="2">工程配送</option>
                                    <option value="3">撮合</option>
                                </select>
                            </td>
                            <td>
                                <select #interval class="select" style="width:90%;" [(ngModel)]="addItem.interval">
                                    <option value="0">即时</option>
                                    <option value="1">按天</option>
                                    <option value="2">按周</option>
                                    <option value="3">按月</option>
                                    <option value="4">按年</option>
                                </select>
                            </td>
                            <td>
                                <select #calcUnit class="select" style="width:90%;" [(ngModel)]="addItem.calcUnit">
                                    <option value="0">吨</option>
                                    <option value="1">金额</option>
                                </select>
                            </td>
                            <td>
                                <input #calcValue type="number" min="0" class="input-text" style="width:100%;" [(ngModel)]="addItem.calcValue">
                            </td>
                            <td>
                                <select #incentiveType class="select" style="width:90%;" [(ngModel)]="addItem.incentiveType">
                                    <option value="0">固定值</option>
                                    <option value="1">百分比</option>
                                </select>
                            </td>
                            <td><input #incentiveValue type="number" min="1" class="input-text" style="width:100%;" [(ngModel)]="addItem.incentiveValue" (change)="check0(i)"></td>
                            <td><input #ext1 class="input-text" style="width:100%;" [(ngModel)]="addItem.ext1"></td>
                            <td><input #ext1Description class="input-text" style="width:100%;" [(ngModel)]="addItem.ext1Description"></td>
                            <td><input #ext2 class="input-text" style="width:100%;" [(ngModel)]="addItem.ext2"></td>
                            <td><input #ext2Description class="input-text" style="width:100%;" [(ngModel)]="addItem.ext2Description"></td>
                            <td><input #ext3 class="input-text" style="width:100%;" [(ngModel)]="addItem.ext3"></td>
                            <td><input #ext3Description class="input-text" style="width:100%;" [(ngModel)]="addItem.ext3Description"></td>
                            <td><input #ext4 class="input-text" style="width:100%;" [(ngModel)]="addItem.ext4"></td>
                            <td><input #ext4Description class="input-text" style="width:100%;" [(ngModel)]="addItem.ext4Description"></td>
                            <td><input #ext5 class="input-text" style="width:100%;" [(ngModel)]="addItem.ext5"></td>
                            <td><input #ext5Description class="input-text" style="width:100%;" [(ngModel)]="addItem.ext5Description"></td>
                        </tr>
                    </tbody>
                </table>

                
            </div>
        </div>
</div>