<h2 md-dialog-title>
    <div style="font-size: 16px;">{{title}}</div>
</h2>
<md-dialog-content>
    {{content}}
</md-dialog-content>
<md-dialog-actions>
    <div style="width: 100%;text-align: center;margin-top: 45px;">
        <button class="btn btn-success" md-button (click)="dialogRef.close('yes')" style="width:100px;height:35px;line-height: 0;color: white">确定</button>
        <button class="btn btn-success" md-button md-dialog-close style="margin-left: 20px;width:100px;height:35px;line-height: 0;color: white">取消</button>
    </div>
    
</md-dialog-actions>