<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII="
        alt=""> <span class="ml-10">结算单</span>
    <span class="c-gray en">&gt;</span> 结算明细业务
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<div class="layout">   
    <div>
       <div style="width: 960px;text-align: center;">
            <span class="mark">结算单编号</span> :
            <span class="mark_left">{{model.settlementNo}}</span>
            <span class="mark">经纪公司</span> :
            <span class="mark_left">{{model.brokerCompanyName}}</span>
            <span class="mark">结算类型</span> :
            <span class="mark_left" style="width: 90px;">{{model.billType | billType}}</span>
            <span class="mark">返佣周期</span> :
            <span class="mark_left" style="width: 40px;">{{model.settlementCycle | cycle }}</span>
            <span class="mark">结算状态</span> :
            <span class="mark_left" style="width: 70px;">{{model.status | status}}</span>
       </div>
    </div>
    <div>
            <div id="table-sort_wrapper" class="dataTables_wrapper no-footer mt-20">
                <table class="table table-border table-bordered table-hover table-bg" style="width: 100%;">
                    <thead>
                        <tr class="text-c" role="row">
                            <th class="sorting_disabled" style="width: 40px;"></th>
                            <th class="sorting_disabled" style="width: 120px;">经纪人</th>
                            <th class="sorting_disabled" style="width: 120px;">经纪公司</th>
                            <th class="sorting_disabled" style="width: 150px;">订单编号</th>
                            <th class="sorting_disabled" style="width: 180px;">客户名称</th>
                            <th class="sorting_disabled" style="width: 150px;">订单日期</th>
                            <th class="sorting_disabled" style="width: 120px;">订单类型</th>
                            <th class="sorting_disabled" style="width: 150px;">销售结算量(吨)</th>
                            <th class="sorting_disabled" style="width: 120px;">含税总金额</th>
                            <th class="sorting_disabled" style="width: 120px;">已出账佣金金额</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="busiDetailsLists">
                        <tr [hidden]="busiDetailsLists.deleteFlag !== 0" role="row" class="odd text-c" *ngFor="let busiDetailsList of busiDetailsLists">
                            <td>1</td>
                            <td>{{busiDetailsList.brokerName}}</td>
                            <td>{{busiDetailsList.brokerCompanyName}}</td>
                            <td>{{busiDetailsList.orderNo}}</td>
                            <td>{{busiDetailsList.custName}}</td>
                            <td>{{busiDetailsList.orderCreateTime | date:"yyyy-MM-dd"}}</td>
                            <td>{{busiDetailsList.orderType | orderType}}</td>
                            <td>{{busiDetailsList.settVolume}}</td>
                            <td>{{busiDetailsList.amountIncludeTax}}</td>
                            <td>{{busiDetailsList.brokerageIncludeTax}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
</div>