<nav class="breadcrumb">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABWElEQVQoFWP8+vUrAymAiRTFILU4Nbx9/harWVg1PF9WER0aFhpXt/E5hiZ0Dd+fHmqLjZlxhtc305f1SE90XOdJVJtQNNw52J8dV7OXM7a6L1WVQbVoRnMcx66S0IQZ55E0AUMJDF7snhBhbmQeXLfh0KGVNaHmRkZG5qE1G06d2tcebmFsET318AuwOkYgCXTn96cbq+LWixaXuv9cO2HKnoe/QW7///8/A6ucQ1pGhtTp4vob8WtmeQozQDUwvL26+xHrt711Ezc+/cPIiOpVVtmQsmiZp/L2SdrCsGD9zqXkaij84R6maqDe349uvND3jASqBgIWiGGcnJwMDN8gbAYGj+p5YcpA/rerB3J614BFOUAKQAAllCBC////kVEBAS4uDogIMolFA7I0JhvmabDMnTt3ICqAxgMZb9++ff/+PZAhKCgoLAz2AQM8lCAKiSBJdhIAydGKSDrrYrQAAAAASUVORK5CYII="
        alt=""> <span class="ml-10">结算管理</span>
    <span class="c-gray en">&gt;</span> 结算单
    <!--<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i id="btn-refresh" class="Hui-iconfont">&#xe68f;</i>
    </a>-->
</nav>
<div class="layout">   
    <div>
       <div style="width: 960px;margin: 0 auto;">
            <span class="mark">经纪公司</span> :<span class="blank_across_10"></span>
            <input #brokerCompanyName class="input-text" style="width:155px;" [(ngModel)]="model.brokerCompanyName">
            <span class="mark">结算状态</span> :<span class="blank_across_10"></span>
            <select #status class="select input-text" style="width:135px;" [(ngModel)]="model.status">
                <option value="">请选择</option>
                <option value="00">撤销</option>
                <option value="10">未审核</option>
                <option value="20">待支付</option>
                <option value="30">已支付</option>
            </select>
            <span class="mark">结算类型</span> :<span class="blank_across_10"></span>
            <select #billType class="select input-text" style="width:135px;" [(ngModel)]="model.billType">
                <option value="">请选择</option>
                <option value="1">业务佣金</option>
                <option value="0">推广佣金</option>
            </select>
            <button class="btn btn-success" name="" style="width:100px;height:35px;margin-left: 34px;" (click)="search('1')">查询</button>
       </div>
    </div>
    <div>
        <div style="width: 100%;height:30px;text-align: left;margin-top: 20px;position: relative;">
            <button class="btn btn-success" name="" style="width:100px;height:35px;position: absolute;" (mouseover)="display()" (mouseout)="hidden()">审核</button><span (mouseover)="display()" style="position: absolute;top:9px;left: 78px;color: white;">▼</span>
            <button class="btn btn-success show" name="" style="width:100px;height:35px;position: absolute;top:34px;display: none;" (mouseover)="display()" (mouseout)="hidden()" (click)="pass()">通过</button>
            <button class="btn btn-success show" name="" style="width:100px;height:35px;position: absolute;top:68px;display: none;" (mouseover)="display()" (mouseout)="hidden()" (click)="cancel()">撤销</button>
        </div>
            <div id="table-sort_wrapper" class="dataTables_wrapper no-footer mt-20">
                <table class="table table-border table-bordered table-hover table-bg" style="width: 100%;">
                    <thead>
                        <tr class="text-c" role="row">
                            <th class="sorting_disabled" style="width: 60px;"></th>
                            <th class="sorting_disabled" style="width: 200px;">结算单编号</th>
                            <th class="sorting_disabled" style="width: 120px;">结算状态</th>
                            <th class="sorting_disabled" style="width: 200px;">经纪公司</th>
                            <th class="sorting_disabled" style="width: 120px;">含税佣金</th>
                            <th class="sorting_disabled" style="width: 200px;">结算类型</th>
                            <th class="sorting_disabled" style="width: 150px;">返佣周期</th>
                            <th class="sorting_disabled" style="width: 120px;">创建日期</th>
                            <th class="sorting_disabled" style="width: 120px;">操作</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="busiSettlLists">
                        <tr role="row" class="odd text-c" *ngFor="let busiSettlList of busiSettlLists,let i=index">
                            <td><input [disabled]="busiSettlList.status !== '10'" type="checkbox" name="dx" value={{i}}></td>
                            <td><a style="color: deepskyblue" (click)="jump(busiSettlList.billType,busiSettlList.settlementNo)">{{busiSettlList.settlementNo}}</a></td>
                            <td>{{busiSettlList.status | status}}</td>
                            <td>{{busiSettlList.brokerCompanyName}}</td>
                            <td>{{busiSettlList.brokerageIncludeTax}}</td>
                            <td>{{busiSettlList.billType | billType}}</td>
                            <td>{{busiSettlList.settlementCycle | cycle}}</td>
                            <td>{{busiSettlList.createTime | date:"yyyy-MM-dd"}}</td>
                            <td><button class="btn btn-success"  style="width:100px;height:31px;" [hidden]="busiSettlList.status !== '20'" (click)="pay(busiSettlList.settlementNo)">支付确认</button></td>
                        </tr>
                    </tbody>
                </table>
                <div [hidden]="tabShow" class="dataTables_paginate paging_full_numbers" id="table-sort_paginate">
                    <a (click)="btnClick(1);" class="paginate_button first disabled" aria-controls="table-sort" data-dt-idx="0" tabindex="0" id="table-sort_first">第一页</a>
                    <a (click)="btnClick(cur-1);" class="paginate_button previous disabled" aria-controls="table-sort" data-dt-idx="1" tabindex="0" id="table-sort_previous">上一页</a>
                    <a [hidden]="!prevShow" (click)="firstPage(cur)" class="paginate_button_spec" aria-controls="table-sort" data-dt-idx="2" tabindex="0">1</a>
                    <span [hidden]="!prevShow">...</span>
                    <span *ngFor="let item of items">
                        <a (click)="btnClick(item);" [ngClass]="setClasses(item)" aria-controls="table-sort" data-dt-idx="2" tabindex="0">{{item}}</a>
                    </span>
                    <span [hidden]="!nextShow">...</span>
                    <a [hidden]="!nextShow" (click)="lastPage(cur)" class="paginate_button_spec" aria-controls="table-sort" data-dt-idx="2" tabindex="0">{{pages}}</a>
                    <a (click)="btnClick(cur+1);" class="paginate_button next" aria-controls="table-sort" data-dt-idx="7" tabindex="0" id="table-sort_next">下一页</a>
                    <a (click)="btnClick(pages);" class="paginate_button last" aria-controls="table-sort" data-dt-idx="8" tabindex="0" id="table-sort_last">最后一页</a>
                </div>
            </div>
        </div> 
</div>